@model ServerFormModel

@{
    ViewBag.Title = "Create Server";
}

<div class="container mt-5">
    <h1 class="display-2 text-center text-blocky">CREATE SERVER</h1>

    <form asp-action="Create" asp-controller="Server" method="post" enctype="multipart/form-data" class="mt-4" autocomplete="off">
        <div class="form-group">
            <input asp-for="@Model.Name" class="form-control" placeholder="SERVER NAME:" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="@Model.IpAddress" class="form-control" placeholder="IP ADDRESS:" />
            <span asp-validation-for="@Model.IpAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <select id="game-version-select" asp-for="@Model.GameVersion" class="form-control"></select>
        </div>
        <div class="form-group">
            <select asp-for="@Model.PlayMode" asp-items="Html.GetEnumSelectList<MSMS.Infrastructure.Data.Enums.PlayMode>()" class="form-control" aria-placeholder="SELECT PLAY MODE"></select>
            <span asp-validation-for="@Model.PlayMode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="@Model.Description" class="form-control" placeholder="DESCRIPTION: "></textarea>
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input id="serverImage" name="serverImage" type="file" class="form-control" />
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary btn-xl">CREATE SERVER</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        fetch("https://mc-versions-api.net/api/java")
            .then((response) => response.json())
            .then((data) => {
                const select = document.getElementById('game-version-select');
                let versions = data.result;

                versions.forEach((version) => {
                    const option = document.createElement('option');
                    option.value = version;
                    option.textContent = version;
                    select.appendChild(option);
                })
            })
            .catch ((ex) => {
                console.error("Exception occured", ex.error)
            })
    </script>
}
