@model ServerViewModel

<div class="col-md-4 mb-5">
    <div class="card h-100 w-100 m-5">
        <img class="card-img-top" src="@Model.ImagePath" alt="Server banner">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">IP: @Model.IpAddress</p>
            <p>Owner: @Model.OwnerName</p>
            <div class="d-flex align-items-center">
                <a asp-controller="Server" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">DETAILS</a>
                <a asp-area="Manager" asp-controller="Panel" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">EDIT</a>
                <form asp-area="Manager" asp-controller="Panel" asp-action="Delete" method="post">
                    <input type="hidden" ="@Model.Id" />
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>
            </div>
        </div>
    </div>
</div>